build
!.vscode/*
build-audio-duplex-cdc-midi/*

rp2350-sdr-cw-interface_wm8960_i2s_master_tx_pio_h.vcxproj
rp2350-sdr-cw-interface_wm8960_i2s_master_tx_pio_h.vcxproj.filters
rp2350-sdr-cw-interface_wm8960_i2s_slave_rx_pio_h.vcxproj
rp2350-sdr-cw-interface_wm8960_i2s_slave_rx_pio_h.vcxproj.filters
rp2350-sdr-cw-interface.sln
rp2350-sdr-cw-interface.vcxproj
rp2350-sdr-cw-interface.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.vscode/arduino.json
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
pico-sdk/**
CMakeFiles
tinyusb-patched/dcd_rp2040.c
generated/pico_base/pico/version.h
generated/pico_base/pico/config_autogen.h
lib/pico_fatfs/doc/benchmark/*
lib/pico_fatfs/doc/
